---
export interface Props {
    btnName: string
    txtColor: string
    bgColor: string
    hovertxtColor?: string
    hoverbgColor?: string
    borderColor?: string
}
const { 
    btnName,
    txtColor,
    bgColor,
    hovertxtColor,
    hoverbgColor,
    borderColor = 'transparent',
} = Astro.props

const textColor = `text-${txtColor}`
const backgroundColor = `bg-${bgColor}`
const colorBorder = `border-${borderColor}`
const hoverTextColor = `hover:text-${hovertxtColor}`
const hoverBackgroundColor = `hover:bg-${hoverbgColor}`

---
<a 
    class={`border-[3px] ${colorBorder} ${backgroundColor} ${textColor} backdrop-blur-sm text-sm rounded font-medium px-20 py-[6px] inline-block ${hoverTextColor} ${hoverBackgroundColor} transition-colors`}
    href="#"
>
    {btnName}
</a>